/****navbar-css***/

@media only screen and (max-width: 500px)
{
.ml-navlinks
{
    display: none;
}
.ml-home-banner img {
display:none !important;
}
.ml-home-banner {
    padding: 50px 0px 150px !important;
}
.ml-home-banner h1 {
    font-size: 2.5rem !important;
    line-height: 4.5rem !important;
    
}
.ml-navlinks-right
{
    display:none;
}
.icon-bar
{
    display:none !important;
}
.ml-topic-desc-solutions {
    padding: 70px 30px !important;
}
.ml-topic-desc-solutions p {
    font-size:16px !important;
    line-height: 26px !important;
}
.ml-topic-desc-solutions h5
{
    font-size:23px !important;
}
.ml-other-popular-topics {
    padding: 10px 30px 40px !important;
}
.ml-footer
{
    padding:10px !important;
}
.ml-other-card
{
    margin-top:5px !important;
}
.ml-wrapper
{
    display:block !important;
}
.ml-footer
{
    height:100px;
    padding: 30px 5px!important;
}
.ml-quick-links
{
    display:none;
}
.copyrights
{
    font-size:14px !important;
}


/****home-page****/
.ml-contribute h3 {
    font-size: 23px !important;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #1a1919;
    line-height: 36px !important;
    font-weight: 700;
}
.ml-metrics {
    margin-top: 30px;
    padding: 15px 0px !important;
    background-color: #ffffff00;
}
.ml-metrics p {
    color: #000000;
    font-size: 13px !important;
}
.ml-mt-card {
    padding: 5px 10px !important;
    border-right: none !important;
}
.ml-mt-card-last {
    padding: 5px 10px !important;
    border-right: none;
}
.ml-unique-sec {
    padding: 35px 0px !important;
}
.ml-unique-sec h3 
{
    line-height:45px !important;
}
}