@import 'component.css';
@import 'media.css';
/****navbar******/
body
{
    margin:0;
    background-color:#F5F7F8;
    font-family:-apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.hellobar {
    background-color: #7ddb58;
  /*  position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    color: #1a1919;
  /*  text-shadow: 0 1px rgba(0,0,0, .3); */
    font-size: 14px; letter-spacing: 1px;
  }
  .hellobar a { color: rgba(255, 255, 255, 0.7); text-decoration: underline; font-size: 11px; font-family: "Helvetica Neue Light", Helvetica, Arial, sans-serif; }
  .hellobar a:hover { text-decoration: underline; color: rgba(255, 255, 255, 1);}
  .hellobar-wrap {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .hellobar-content {
    overflow: hidden;
    padding: 7px 0;
    letter-spacing: 0.2px;
    transition: 0.1s ease;
  }
  .hellobar-toggle {
    position: absolute;
    top: 0px;
    right: 22px;
    bottom: 0;
    width: 30px;
    height: 30px;
    z-index: 1;
    min-width: 30px;
    min-height: 30px;
    opacity: 0;
  
    cursor: pointer;
  }
  .hellobar-toggle:checked { top: 0; right: 22px; width: 30px; height: 30px; min-width: 30px; min-height: 30px; }
  .hellobar-toggle:checked ~ .hellobar-content { padding: 0; height: 0; }
  .hellobar-toggle:checked ~ .hellobar-arrow:after { top: 7px; left: 16px; box-shadow: none; }
  .hellobar-toggle:checked ~ .hellobar-arrow:before {
    position: absolute;
    top: 15px;
    left: 11px;
    border-color: #fff transparent transparent transparent;
    border-width: 8px 8px 0 8px; 
    box-shadow: none;
  }
  .hellobar-toggle:checked ~ .hellobar-arrow {
    display: none;
  }
  .hellobar-arrow {
    position: absolute;
    top: 7px;
    right: 30px;
    background-color: #7ddb58;
  }
  .hellobar-arrow:before {
    display: block;
    width: 0px;
    height: 0px;
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    border-width: 0 8px 8px 8px;
  /*  box-shadow: 0 1px 0 rgba(255,255,255,0.2); */
    content: '';
  }
  .hellobar-arrow:after {
    position: absolute;
    left: 5px;
    display: block;
    width: 6px;
    height: 8px;
    background-color: #fff;
  /*  box-shadow: 0 1px 0 rgba(255,255,255,0.2); */
    content: '';
  }
  .hellobar-toggle:hover ~ .hellobar-arrow:after { background-color: #333; }
  .hellobar-toggle:hover ~ .hellobar-arrow:before { border-bottom-color: #333; border-top-color: #333; }
.ml-navbar
{
    background-color: #fff;
    width: 100%;
    height: 60px;
    top:0;
    z-index:10;
    position: fixed;
    box-shadow: 0 2px 20px rgba(147, 161, 197, 0.2);
    background-color: rgb(255, 255, 255) !important;
}
.ml-navbar-wrapper
{
    display:flex;
    position: relative;
}
.ml-navbar-logo-band
{
  max-width:180px;
}
.ml-navbar-logo-band img
{
   margin-top:10px;
    max-width:220px;
    width:100%;
}
.ml-navlinks
{
    margin-left:50px;
}
.ml-navlinks-right
{
    position: absolute;
    float: right;
    right:0;
    padding:15px 0px;
}
.ml-navlinks>ul, .ml-navlinks-right>ul
{
list-style-type: none;
display: inline;
}
.ml-navlinks>ul>li
{
    display:inline-block;
    padding:20px;
    font-size:15px;
    line-height:21px;
}
.ml-navlinks-right>ul>li
{   
     display:inline-block;
    padding:4px 20px;
    font-size:15px;
    line-height:21px;

}
.ml-navlinks>ul>li>a, .ml-navlinks-right>ul>li>a
{
    font-weight:600;
    letter-spacing: 0.2px;
    text-decoration: none;
cursor:pointer;
color: #646f79;
font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.ml-navlinks>ul>li:hover a
{
color:#000000;
}
.ml-login
{
    border:1px solid #646e79;
    background-color:#4A6884;
    border-radius:2px;
}
.ml-signup
{
    border:1px solid rgb(106, 207, 59);
    border-radius:2px; 
    background-color:rgb(101, 214, 49); 
}
.ml-signup a, .ml-login a
{
    color:#ffffff !important;
}
.dropdown-menu {
  position: absolute;
  top: 60px !important;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding:0px;
  margin:0px !important;
  font-size: 14px;
  text-align: left;
  list-style: none;
  border:none !important;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 4px;
  box-shadow: 0 9px 10px 0 rgba(231,237,255,.85);
}
.dropdown-menu {
  transition: transform .3s,width .3s,height .3s,-webkit-transform .3s;
  width: 100%;
  min-width: 300px !important;
}
.dropdown:hover .dropdown-menu
{
  display:block;
}
.dropdown-menu>li
{  
  padding:10px 0px;
  cursor: pointer;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover
{
  background: transparent !important;
}
.dropdown-menu>li:hover
{
  background-color:#5ac72f;
  font-family:-apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.dropdown-menu>li:hover a
{
  color:#ffffff !important;
}
.dropdown-menu>li>a {
  display: block;
  clear: both;
  padding:20px 0px;
  font-weight: 600 !important;
  font-size:15px;
  color: #646f79 !important;
  line-height:21px;
  font-family:-apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.dropdown-menu:after {
  content: '';
  position: absolute;
  width: 14px;
  height: 0;
  border: 7px solid transparent;
  border-bottom: 7px solid #fff;
  top: -14px;
  left: 10%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}



/****navbar-ends****/

/***section-home***/
.ml-home-banner
{
padding:100px 0px 150px;
position: relative;
  background-color:#ddffd0;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%2368cc25' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%232daa2a' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%235cc634' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%232ea326' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%2351bf3f' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%232e9c23' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%2347b848' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%232f951f' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%233fb14f' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%232e8f1b' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%2338aa55' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%232e8818' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-repeat: no-repeat;
background-position: bottom right;
}
.ml-main-txt-wrapper
{
  max-width:700px;
  width: 100%;
  padding:10px !important;
}
.ml-whole-wrapper
{
  max-width:600px;
  width:100%;
  margin:0 auto;
  position: relative;
}
.ml-home-banner h1
{
  color:#1a1919;
  font-weight:800;
  font-size: 3.5rem;
  letter-spacing: 1px;
  line-height: 5.5rem;
  font-family:-apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.ml-home-banner p
{
  font-size:16px;
  line-height:26px !important;
  font-weight:500;
  color:#646e79;
  max-width:500px;
  line-height: 22px;
  font-family:-apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.ml-home-banner img
{
  position: absolute;
  top: -15px;
  right:20px;
  max-width: 450px;
  width: 100%;

}
/***section-home***/

/***section-metrics***/
.ml-metrics
{
  margin-top:30px;
  padding:15px 20px;
  background-color:#ffffff00;
}
.ml-metrics h3
{
color: #000000;
font-size:30px;
font-weight:800;
line-height: 25px;
font-family:-apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.ml-metrics p
{
  color: #000000;
font-size:18px;
font-weight:600;
font-family:-apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.ml-mt-card
{
  padding:5px 30px;
  border-right:1px dashed #838898e0;
}
.ml-mt-card-last
{
  padding:5px 30px;
  border-right:none;
}
/***section-metrics***/
/****section-unique****/
.ml-unique-sec
{
  padding:120px 0px;

}
.ml-ico
{
  max-width:60px;
  width:100%;
}
.ml-un-card
{
  padding:20px;
margin-top:30px;
}
.ml-un-card h5
{
  font-weight:800;
  font-size:25px;
  color:#1a1919;
  font-family:-apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

}
.ml-unique-sec h3
{
  font-size:36px;
  font-weight:700;
  letter-spacing: 1.3px;
  line-height:35px;
  margin-bottom:25px;
  text-align: center;
  font-family:-apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.ml-un-card p
{
  font-size:16px;
  font-weight:400;
  color:#646e79;
  font-family:-apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/****section-unique****/

/****section-popular****/
.ml-popular-topics
{
padding:75px 0px;
height:auto;
background-color:#f4faff;
}
.ml-popular-topics h3
{
  font-size:36px;
  font-weight:700;
  letter-spacing: 1.3px;
  line-height:35px;
  margin-bottom:25px;
  text-align: center;
  font-family:-apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.ml-nav-tabs
{
  width:100% !important;
  margin-top:80px;
  border-bottom:1px dashed #c9def1;
}
.ml-content
{
padding:50px 0px;
}
.ml-nav-tabs li
{
  color:#000000;
  padding:0px 0px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
{
  color:#ffffff !important;
  background-color:#5ac72f !important;
}
.nav-pills>li>a
{
  font-weight:600;
  font-size:16px;
  color:#4a6884 !important;
  border-radius: 0px !important;
  background-color: #fdfdfd;
  padding:10px 30px !important;
}
.ml-popular-card
{
  margin-top: 30px;
  padding:10px;
  height:420px;
    box-shadow: 0 6px 38px 0 rgba(83,86,92,.05);
    /* background-image: linear-gradient(179deg,rgba(17,17,29,0),#131321 125%); */
    border: .9px solid #e6ecf3;
    position: relative;
    background-color: #fff;
    cursor: pointer;
    font-family:-apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    transition: transform .3s ease,box-shadow .3s ease,-webkit-transform .3s ease;
}

.ml-popular-card:hover {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  box-shadow: 0 12px 18px rgba(161,166,181,.2);
}
.ml-popular-card img
{
  max-width:500px;
  background-color:#F6F6F6;
  border-bottom:1px solid #F6F6F6;
  width:100%;
}
.ml-popular-card h4
{
  padding:10px 10px 2px 10px;
  font-size:20px;
  font-weight:600;
  color:#000000;
}
.ml-popular-card p
{
  padding:0px 10px;
  font-size:15px;
  font-weight:400;
  color:#646E79;
}

/******popular***/

.ml-contribute
{
  padding:50px 0px;
  
}
.ml-contribute h3
{
  font-size:35px;
  font-family:-apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color:#1a1919;
  line-height:48px;
  font-weight:700;
}
.ml-contribute p
{
  font-size:18px;
  line-height:28px;
  color:#4A6884;
  letter-spacing: 0.2px;
  font-weight:400;
}
.ml-contribute-left
{
  max-width:600px;
  width:100%;

}



/****footer***/
.ml-footer
{
padding:50px;
background-color:#1a1919;
}
.copyrights
{
  float:left;
  color:rgb(171, 192, 212);
  font-size:16px;
  font-family:-apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.ml-wrapper
{
  display:flex;
  flex-wrap: wrap;
  font-family:-apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.ml-quick-links
{
  margin-left:150px;
  float:right;
}
.ml-quick-links ul
{
list-style-type: none;
display: inline;
margin:0;
padding:0;
}
.ml-quick-links ul li
{
  display:inline-block;
  padding:0px 20px;
  font-size: 16px;

}
.ml-quick-links ul li a
{
  cursor: pointer;
  color:rgb(171, 192, 212);
}



/****topic banner****/


.ml-topic-banner
{
  margin-top:60px;
  padding:60px 0px;
  border-bottom: 1px solid #aad1f3;
  background-color:#d1f7ff;
}

.ml-topic-banner h3
{
  text-align: center;
  font-size:30px;
  line-height:45px;
  font-family:-apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight:800;
}
.ml-topic-banner h3 span
{
  color:#7FDA56;
}
.ml-topic-solutions
{
  padding:80px 0px;
}
.ml-topic-desc-solutions
{
  padding:70px 0px 0px;
  max-width:800px;
  width:100%;
  margin:0 auto;
}
.ml-topic-desc-solutions h4
{
  font-family:-apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight:700;
  font-size:26px;
  color:#1a1919;
  line-height:35px;
}
.ml-topic-desc-solutions p
{
  font-family:-apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight:400;
  line-height:30px;
  margin-top:30px;
  letter-spacing: 0.3px;
  font-size:18px;
  color:#0e0f0f;
}
.ml-topic-desc-solutions p span
{
  color:#7ddb58;
  font-weight:800;
}
.ml-topic-desc-solutions h5
{
  font-family:-apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight:700;
  font-size:22px;
  color:#1a1919;
  margin-top:30px;
  line-height:35px;
}
.ml-topic-desc-solutions li
{
  font-family:-apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight:500;
  line-height:34px;
  font-size:18px; 
  color:#4A6884;
}

.guide-search {
  padding: 20px 0!important;
}
.guide-site-search {
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}
.guide-site-search .guide-site-search__field {
  box-shadow: none;
  border-radius: 99px;
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight:700;
  font-family:-apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 18px 20px 18px 45px;
  border: 0;
  outline: 0;
}
.ml-view-all
{
  text-align: center;
  padding:10px;
  max-width:200px;
  font-weight:800;
  margin:60px auto 0;
  background-color:#000000;
  color:#ffffff;
  font-family:-apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    cursor: pointer !important;
}
.ml-author-tag
{
  padding: 10px 0px;
  font-size: 16px;
  color: #9a9a9a;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.full-list .topics{
  display: none;
}
.topics a
{
  text-decoration: none !important;
}

.icon-bar {
  position: fixed;
  top: 45%;
  left:30px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.icon-bar a {
  display: block;
  text-align: center;
  padding: 10px 15px;
  transition: all 0.3s ease;
  color: #000000;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #4A6884;
  color:#ffffff;
}


/****other popular cards***/

.ml-other-popular-topics
{
  max-width:800px;
  width:100%;
  padding:10px 0px 40px;
  margin:0 auto;
}
.ml-other-popular-topics h3
{
  padding:10px;
  font-size:25px;
  font-weight:600;
  color:#000000; 
}
.ml-other-popular-topics p {
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 26px;
  margin-top: 10px;
  letter-spacing: 0.3px;
  font-size: 18px;
  color: #0e0f0f;
}
.ml-other-card:after{
  content: "";
  display: inline-block;
  opacity: 1;
  position: absolute;
}
.ml-other-card
{
  box-shadow: 0 6px 38px 0 rgba(83,86,92,.05);
  padding:20px;
  height:160px;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  border: .9px solid #e6ecf3;
}
.ml-other-card:hover
{
  background-color:rgb(247, 247, 247);
  -webkit-transition: .2s;
  transition: .2s;
}
.ml-other-card:hover:after {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}
.ml-other-card:after {
  width: 20px;
  height: 20px;
  bottom: 20px;
   right:35px;
  -webkit-transition: .3s ease-out!important;
  transition: .3s ease-out!important;
  background: url(../images/icons/arrow-black.png) 50%/contain no-repeat;
}
.ml-other-card h4
{
  padding:10px;
  font-size:20px;
  font-weight:600;
  color:#000000; 
}
.ml-other-card p
{
  padding:0px 10px !important;
  font-size:15px !important;
  font-weight:400;
  color:#646E79;
}

/****other popular cards***/